.Post {
  border-radius: 10px;
  margin-bottom: 16px;
  color: #ffffff;
  max-width: 800px;
  text-align: center;
}

.faThumbsUp,
.faComments {
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}

.faThumbsUp:hover,
.faComments:hover {
  color: #007bff;
  transform: scale(1.15);
}

.liked {
  color: #007bff;
}

.PostBar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.EditIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.CardImg {
  height: auto;
  object-fit: cover;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
