.SearchBar {
  margin-bottom: 20px;
  position: relative;
  max-width: 100%;
}

.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
  width: 100%;
}

.SearchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #2c2c2c;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.SearchContainer {
  position: relative;
  margin: 0 auto;
  max-width: 750px;
}
