.SearchBarContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.SearchBarCol {
  position: relative;
  width: 100%;
  max-width: 750px;
}

.SearchBar {
  background-color: #2c2c2c;
  border: 1px solid #495057;
  color: #fcfcfc;
  padding-left: 2.3rem;
  padding-right: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    box-shadow 0.3s;
}

.SearchBar::placeholder {
  color: #adb5bd;
}

.SearchBar:focus {
  border-color: #fcfcfca9;
  box-shadow: 0 0 15px 0 rgba(10, 10, 10, 0.5);
  background-color: #2c2c2c;
  color: #fcfcfc;
  outline: none;
  opacity: 1;
}

.SearchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #adb5bd;
  font-size: 20px;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
