.Container {
  min-height: 343px;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.ImageWrapper {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  transition:
    border-color 0.3s,
    box-shadow 0.3s 0.3s,
    opacity 0.3s;
  border-radius: 10px;
  position: relative;
  opacity: 0.8;
}

.ImageWrapper:hover {
  box-shadow: 0 0 15px 0 rgba(10, 10, 10, 0.5);
  opacity: 1;
}

.Placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(63, 62, 62, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  max-width: 90%;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.FormControl {
  width: 100%;
}
