.CommentCard {
  width: 800px;
  max-width: 100%;
  margin: auto;
  background-color: #1e1e1e;
  border: none;
}

.Form {
  border: none;
  color: #ffffff;
  border-bottom: 2px #807e7e solid;
}

.Form::placeholder {
  color: #ffffff;
}

.Form:focus {
  color: #ffffff;
}
