.ProfileOwner {
  font-size: 1.2em;
  color: #ffffffbb;
  font-weight: bold;
  margin-top: 1px;
  text-align: center;
}

.ProfileStats {
  font-size: 0.7em;
}

.ProfileImage {
  object-fit: cover;
  height: 150px;
  width: 150px;
  margin: 3px;
}

@media screen and (max-width: 991px) {
  .ProfileImage {
    height: 150px;
    width: 150px;
  }
}
