.WordBreak {
  word-break: break-all;
  font-size: 15px;
}

.ProfileImage {
  object-fit: cover;
  border-radius: 50%;
}

.Button {
  display: flex;
  justify-content: center;
  width: 65px;
  max-width: 100%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.Button:hover {
  transform: scale(1.05);
}

.Button:active {
  transform: scale(0.95);
}

.followButton {
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
}

.followButton:hover {
  background-color: #0004d6;
  border-color: #0004d6;
}

.followButton:active {
  background-color: #0407a1;
  border-color: #0407a1;
}

.unfollowButton {
  color: white;
  background-color: #6c757d;
  border: 1px solid #6c757d;
}

.unfollowButton:hover {
  background-color: #4e4e4e;
  border-color: #4e4e4e;
}

.unfollowButton:active {
  background-color: #363636;
  border-color: #363636;
}
