.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0;
}

.faEdit {
  color: #ffff00;
}

.faTrashAlt {
  color: #ff0000;
}

.DropdownMenu {
  background-color: #343a40 !important;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
}
