.navLinkEffect {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navLinkEffect:hover {
  color: #007bff;
  transform: scale(1.15);
}

.logoOffcanvas {
  width: 175px;
}

.logoNav {
  width: 125px;
  overflow: hidden;
}

.offcanvasWidth {
  max-width: 275px;
}

.offcanvasBody {
  padding: 1.5rem;
}

.faKey {
  color: #ffff00;
}

.faSignOutAlt,
.faThumbsUp {
  color: #007bff;
}

.faBarsStaggered {
  color: #a83198;
}

@media (max-width: 650px) {
  .logoNav {
    display: none;
  }
}
