.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin-top: 80px;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

a:hover {
  color: #007bff;
}

.card,
.modal-content {
  background-color: #2c2c2c;
  border-color: #3a3a3a;
}

.card-title,
.modal-title {
  color: #ffffff;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
